*{
 box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
 background-color: #F2E9E2;
 width: 100%;
 height: 100vh;
 font-family: 'Montserrat', sans-serif;
 font-weight: 400;
}
.container {
  height: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
}
.card-container {
 
 border-radius: 9px;
 overflow: hidden;
 background-color: #FFFFFF;
 margin: auto;
}
.img-container {
 width: 300px;
 height: 450px;
 background: url("./image-product-desktop.jpg") center/cover no-repeat;
}
img{
 width: 100%;
}
.product-info {
 padding: 30px 25px;
}
.product-info p{
 /* font-size: 12px; */
 line-height: 22px;
}
.product-type {
 font-size: 14px;
 letter-spacing: 3.5px;
 line-height: 18px;

}
.product-name {
 margin: 16px 36px 24px 0;
}
.product-name, .current-price {
 font-family: 'Fraunces', serif;
 font-size: 29px;
 font-weight: 700;
}
.product-prices {
 display: flex;
 align-items: center;
 margin: 30px 66px 26px 0;
}
.current-price {
margin-right: 20px;
color: #3D8168;
}
.slash-price {
 text-decoration: line-through;
}
button {
 cursor: pointer;
  border: none;
  outline: none;
}
.cart-details {
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 14px;
}
.cart{
 background-color: #3D8168;
 color: #FFFFFF;
 padding: 16px 60px;
 border-radius: 8px;
 /* width: 294px; */
}
.cart:hover {
 background-color: #1A4031;
}
.cart:focus {
 background-color: #1A4031;
}
.cart-icon {
 font-weight: 700;
 margin-right: 9.5px;
 font-size: 21px;
 
}
.cart-text {
 font-weight: 700;
 line-height: 32px;
 letter-spacing: 0.28px;
}
@media screen and (max-width: 375px) {
 .card-container {
  width: 343px;
 }
 
 .img-container {
 width: 343px;
 height: 240px;
 background: url("./image-product-mobile.jpg") center/cover no-repeat;
}
.product-prices {
 margin: 49px 66px 26px 0;
}
.product-info {
 padding: 22px 11px 21px 24px;
}
.cart{
 padding: 15px 90px;
}
}
@media screen and (min-width: 568px) {
.card-container {
 display: grid;
 width: 600px;
 height: 450px;
 grid-template-columns: repeat(2, 1fr);
}
}